.community {
    text-align: center;
    padding: 12rem 0 20rem 0;

    @include respond-to(tab) {
        padding-bottom: 25rem;
    }

    &__title {
        @include h2;
        margin-bottom: 3.2rem;
    }

    &__button {
        @include primary_button;
    }
}