* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: $font-body;
}

body {
}

h1, h2, h3, h4 {
    font-family: $font-heading;
    font-weight: 700;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

// Flex
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}